@charset "utf-8";
$white: #fff;
$pink-statik: #e30074;
$pink-statik-clear: #faddea;
$midnight-blue: #000032;
$ninja-grey: #808098;
$grey: #52565b;
$grey-week: #8a9198;
$greyLine: #dbe1e7;
$grey-title: #edf0f3;
$grey-commentary: #aab2bc;
$grey-backgound: #eff4fa;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$date-grey: #8a9198;
$border-radius: 4px;
$border-radius-sm: 3px;
