@charset "utf-8";
$primary-font: 'Inter', sans-serif;
$white: #fff;
$pink-statik: #e30074;
$midnight-blue: #000032;
$ninja-grey: #808098;
$grey: #52565b;
$greyLine: #dbe1e7;
$semi-Bold: 600;
$regular: 400;
