@charset 'utf-8';

.nav {
  border-top: 1px solid $greyLine;
  display: flex;

  a {
    display: block;
    width: 50%;
    text-align: center;
    padding: 0.25rem;

    .icon {
      font-size: 2.0625rem;
    }
  }
}
