<div class="buttons-row">
  {% include "@atoms/button/button.twig"  with {text: "horaire habituel", id: "usual-schedule"} %}
  {% include "@atoms/button/button.twig" with { text: "+", id: "add-time"} %}
  {% include "@atoms/button/button.twig" with { text: "-", id: "remove-time"} %}
  {% include "@atoms/button/button-secondary.twig" with { icon: "trash", id: "reset"} %}
</div>
