@charset "utf-8";

.buttons-row {
  display: flex;

  button {
    //margin-right: 0.53rem;
    margin-right: 0.5rem;

    &:last-of-type {
      margin-right: 0;
    }

    &:first-child {
      flex-grow: 1;
    }
  }
}
