@charset "utf-8";

.title {
  font-family: $primary-font;
  font-size: 1rem;
  line-height: 21px;
  color: $midnight-blue;
  background-color: #edf0f3;
  border-radius: $border-radius;
  padding-left: 6px;
}
