<div class="calendar">
  {% include "@atoms/date/date.twig" with { emoji: "💪", textWeek: "Lun" , textDate: "14", textTime:"08:24", selected: false} %}
  {% include "@atoms/date/date.twig" with { emoji: "💪", textWeek: "Mar" , textDate: "15", textTime:"08:24", selected: false} %}
  {% include "@atoms/date/date.twig" with { emoji: "💪", textWeek: "Mer" , textDate: "16", textTime:"09:12", selected: false} %}
  {% include "@atoms/date/date.twig" with { emoji: "😷", textWeek: "Jeu" , textDate: "17", textTime:"00:00", selected: false} %}
  {% include "@atoms/date/date.twig" with { emoji: "💪", textWeek: "Ven" , textDate: "17", textTime:"08:24", selected: true} %}
</div>

