@charset "utf-8";

.header-calendar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  & .month {
    font-size: 0.625rem;
    font-weight: $font-weight-regular;
    text-align: center;
  }

  & .week {
    font-size: 0.875rem;
    font-weight: $font-weight-semibold;
    text-align: center;
  }
}
