<div class="header-calendar">
  <button id="left">{% include "@atoms/icon/icon.twig"  with {icon: "arrow-left"} %}</button>
  <div>
    <div class="month">Août 2019</div>
    <div class="week" id="week">Semaine <span id="num-week">32<span></div>
  </div>
  <button id="right">{% include "@atoms/icon/icon.twig"  with {icon: "arrow-right"} %}</button>
</div>
