@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.button-shared {
  border: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.button-shared.primaryButton {
  padding: 0.75rem 0.63rem 0.718rem 0.56rem;
  background-color: #e30074;
  font-size: 1rem;
  color: #fff;
}

.button-shared.secondaryButton {
  color: #e30074;
  background-color: #faddea;
}

.button-shared.validationButton {
  width: 100%;
  padding: 0.87rem 0.53rem 0.8rem 0.53rem;
  font-size: 1rem;
  background-color: #e30074;
  color: #fff;
}

.button-shared.button-number {
  background-color: #fff;
  border: #52565b;
  color: #52565b;
}

.table-data {
  width: 100%;
}

.data-shared {
  border-bottom: #dbe1e7 1px solid;
}

.data {
  padding: 0.53rem 0.73rem 0.53rem 0.4rem;
}

.bold {
  font-weight: 600;
}

.table-data {
  width: 100%;
}

.theadtitle {
  padding: 0.13rem 0.4rem;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  line-height: 21px;
  color: #000032;
  background-color: #edf0f3;
  text-align: left;
  margin-bottom: 0.53rem;
}

.name {
  display: inline-block;
  margin: 0;
  padding: 0.55rem 0.96rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}
.date .week {
  color: #8a9198;
}
.date .day {
  color: #000032;
}
.date .time {
  font-size: 0.8rem;
}

.align {
  margin-top: 24px;
}

.wrap {
  background-color: #eff4fa;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.wrap div {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
}

.hours {
  font-size: 0.8rem;
}

.denominator {
  font-weight: 600;
}

.numerator {
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 0.13rem;
}

.header {
  background-color: #000032;
  text-align: center;
  padding-top: 2.33rem;
  padding-bottom: 0.53rem;
  opacity: 0.9;
  margin: 0;
}
.header .headerTitleBold {
  margin: 0;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}
.header .headerSubtitleRegular {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.calendar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.selected {
  border: 1px solid #e30074;
  border-radius: 3px;
}

.table-data {
  width: 100%;
}

.theadtitle {
  padding: 0.13rem 0.4rem;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  line-height: 21px;
  color: #000032;
  background-color: #edf0f3;
  text-align: left;
  margin-bottom: 0.53rem;
}

.data-shared {
  border-bottom: #dbe1e7 1px solid;
}

.data {
  padding: 0.53rem 0.73rem 0.53rem 0.4rem;
}

.bold {
  font-weight: 600;
  text-align: right;
}

.buttons-time {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0.46rem;
  grid-row-gap: 0.46rem;
}

/*# sourceMappingURL=base.css.map */
