@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
}

.button-shared {
  border: none;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.button-shared.button-primary {
  padding: 0.75rem 0.63rem 0.718rem 0.56rem;
  background-color: #e30074;
  font-size: 1rem;
  color: #fff;
}

.button-shared.button-secondary {
  color: #e30074;
  background-color: #faddea;
}

.button-shared.button-validation {
  width: 100%;
  padding: 0.87rem 0.53rem 0.8rem 0.53rem;
  font-size: 1rem;
  background-color: #e30074;
  color: #fff;
}

.button-shared.button-number {
  background-color: #fff;
  border: #52565b;
  color: #52565b;
  padding-bottom: 0.8rem;
  padding-top: 0.86rem;
  transition: background-color 0.2s;
}
.button-shared.button-number:hover {
  background-color: #e30074;
}

.icon {
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0.11em;
  width: 1em;
  height: 1em;
  font-size: 1rem;
  color: inherit;
}
.icon svg {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.table-data {
  width: 100%;
}

.title {
  width: 100%;
  padding: 0.13rem 0.4rem;
  border-radius: 4px;
  font-size: 0.93rem;
  line-height: 21px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #000032;
  background-color: #edf0f3;
  text-align: left;
  margin-bottom: 0.53rem;
}

.username {
  display: inline-block;
  margin: 0;
  padding: 0.55rem 0.96rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.19);
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.date .date-content {
  display: flex;
  flex-direction: column;
  padding: 0.5rem auto;
  border-radius: 3px;
  border: 1px solid black;
  align-items: center;
  font-weight: 400;
}
.date .date-content .week {
  color: #8a9198;
}
.date .date-content .day {
  color: #000032;
}
.date .date-content .time {
  font-size: 0.8rem;
}

.date-content.selected {
  border: 1px solid #e30074;
}

.wrap-status {
  background-color: #eff4fa;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0.33rem;
}

.hours {
  font-size: 0.8rem;
}

.denominator {
  font-weight: 600;
}

.numerator {
  font-size: 1.4rem;
  font-weight: 400;
}

.header {
  background-color: #000032;
  text-align: center;
  padding-top: 2.33rem;
  padding-bottom: 0.53rem;
  opacity: 0.9;
  margin: 0;
}
.header .header-title-bold {
  margin: 0;
  padding: 0.8rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}
.header .header-subtitle-regular {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #fff;
}

.calendar {
  display: flex;
  margin-top: 1.6rem;
}

.calendar .date {
  flex-grow: 1;
}

.table-data {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.table-data thead th {
  padding: 0.13rem 0.4rem;
  border-radius: 4px;
  line-height: 21px;
  color: #000032;
  background-color: #edf0f3;
  text-align: left;
  margin-bottom: 0.53rem;
  margin-top: 1.6rem;
}

.table-data tbody tr {
  border-bottom: #dbe1e7 1px solid;
}

.table-data tbody td {
  padding: 0.53rem 0.73rem 0.53rem 0.4rem;
}

.table-data tbody td:last-of-type {
  font-weight: 600;
  text-align: right;
}

.table-entry {
  width: 100%;
  border-collapse: collapse;
}

.table-entry thead th {
  padding: 0.13rem 0.4rem;
  border-radius: 4px;
  line-height: 21px;
  color: #000032;
  background-color: #edf0f3;
  text-align: left;
  margin-bottom: 0.53rem;
}

.table-entry tbody tr {
  border-bottom: #dbe1e7 1px solid;
}

.table-entry tbody td {
  padding: 1.6rem 0.53rem;
}

.table-entry tbody td:last-of-type {
  text-align: right;
}

.button .button-secondary {
  color: #e30074;
  background-color: #faddea;
}

.buttons-row {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}
.buttons-row button {
  margin-right: 0.53rem;
}
.buttons-row button:nth-child(+n+1) {
  padding-right: 1.27rem;
  padding-left: 1.2rem;
}
.buttons-row button:last-of-type {
  margin-right: 0;
}
.buttons-row button:first-child {
  flex-grow: 1;
}

.buttons-time {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0.46rem;
  grid-row-gap: 0.46rem;
}
.buttons-time .button-validation {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
}

.commentary {
  box-sizing: border-box;
}
.commentary textarea {
  width: 100%;
  border: 1px solid #aab2bc;
  font-size: 0.93rem;
  color: #aab2bc;
  border-radius: 4px;
  resize: none;
  margin-top: 2.2rem;
  margin-bottom: 3.8rem;
}
.commentary .icon-right {
  display: flex;
  flex-direction: column;
}
.commentary .icon-right .icon {
  align-self: flex-end;
}

.title-time {
  margin: 0;
  font-size: 1.13rem;
  font-weight: 400;
  text-align: center;
  padding-top: 0.93rem;
  padding-bottom: 0.8rem;
}

.add-time .icon-right {
  display: flex;
  flex-direction: column;
}
.add-time .icon-right .icon {
  align-self: flex-end;
}

/*# sourceMappingURL=base.css.map */
