<div class="timebuttons">
  {% include "@atoms/button/button-number.twig" with {textNumber: "15'"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "30'"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "45'"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "1h"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "1h15"}%}
  {% include "@atoms/button/button-number.twig" with {textNumber: "1h30"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "1h45"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "2h"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "2h15"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "2h30"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "2h45"} %}
  {% include "@atoms/button/button-number.twig" with {textNumber: "3h"} %}
</div>

