<div class="login">
  <div>
    <a href="/pages/edit"> {% include "@atoms/button/button.twig"  with {text: "Se connecter avec Google"} %} </a>
    <p>Utiliser votre Compte Google Antistatique<p>
  </div>
</div>
