@charset 'utf-8';

.login {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  background-image: url("../../../images/AS_login.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;

  p {
    font-size: 0.75rem;
    color: $white;
  }
}
