@charset "utf-8";

.add-time {
  display: none;

  &.open {
    display: block;
  }
}

.title-time {
  margin: 0;
  font-size: 1rem;
  font-weight: $font-weight-regular;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.add-time .icon-right {
  display: flex;
  justify-content: flex-end;

  button {
    border: none;
    cursor: pointer;
  }
}
