<div class="add-time">
  <div class="icon-right">
  {% include "@atoms/icon/icon.twig"  with {icon: "close"} %}
  </div>
  <h2 class="title-time">{{textTitleTime|default('Ajouter du temps')}}</h2>
  {% include "@molecules/time-selection/time-selection.twig" %}
</div>
