<div class="add-time" id='time-add'>
  <div class="icon-right" id="close-time">
  <button>{% include "@atoms/icon/icon.twig"  with {icon: "close"} %}</button>
  </div>
  <h2 class="title-time">{{titleTime|default('Ajouter du temps')}}</h2>
  {% include "@molecules/time-selection/time-selection.twig" %}
</div>
