<div class="add-time">
  <span class="icon-right">
      {% include "@atoms/icon/icon.twig"  with {icon: "close"} %}
  </span>
  {% include "@atoms/title-time/title-time.twig" %}
  {% include "@molecules/buttons-time/buttons-time.twig" %}
</div>
