<div class="add-time">
  <div class="icon-right">
  {% include "@atoms/icon/icon.twig"  with {icon: "close"} %}
  </div>
  {% include "@atoms/title-time/title-time.twig" %}
  {% include "@molecules/time-selection/time-selection.twig" %}
</div>
