<div class="stamp-hours">
  {% include "@molecules/calendar-header/calendar-header.twig" %}
  {% include "@molecules/status-hours/status-hours.twig" %}
  {% include "@molecules/calendar/calendar.twig" %}
  {% include "@molecules/data-table/data-table-entry-hours.twig" %}
  {% include "@molecules/data-table/data-table-entry-hours.twig" with { text: "Après-midi", startTime: "13:00", endTime: "17:20"} %}
  {% include "@molecules/buttons-row/buttons-row.twig" %}
</div>
