@charset "utf-8";

%data-shared {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  border-bottom: $greyLine 1px solid;
}

.data {
  @extend %data-shared;
  /*padding: 18px 11px 8px 7px;*/
  padding: 8px;
}

.variantData {
  @extend %data-shared;
  padding: 16px 8px;
}

.bold {
  font-weight: $semi-Bold;
}
