@charset "utf-8";

.table-data {
  width: 100%;
  border-collapse: collapse;

  thead th {
    margin-bottom: 0.5rem;
    border-radius: $border-radius;
    padding: 0.125rem 0.5rem;
    line-height: 1.5rem;
    color: $midnight-blue;
    background-color: $grey-title;
    text-align: left;
  }

  tbody tr {
    border-bottom: $greyLine 1px solid;
  }

  tbody td:last-of-type {
    text-align: right;
  }
}

.table-count {
  margin-bottom: 1.5rem;
}

.table-count thead th {
  margin-top: 1.5rem;
}

.table-count tbody td {
  padding: 0.5rem;
}

.table-count tbody td:last-of-type {
  font-weight: $font-weight-semibold;
}

.entry-hours thead th {
  font-size: 0.875rem;
}

.entry-hours tbody td {
  padding: 1rem 0.5rem;

  button {
    border: none;
    font-size: 0.9375rem;
    background-color: $white;
  }
}

.entry-hours {
  .button.button-secondary {
    padding: 0.3125rem;
    margin-right: 1.5rem;
  }
}

.entry-hours tbody tr:last-of-type {
  border-bottom: 0;
}
