<table class="table-data table-count">
  <thead>
  <tr>
    <th colspan="2">{{title|default('Budget temps')}}</th>
  </tr>
  </thead>
  <tbody>
  {% for item in items %}
   <tr>
    <td>{{item.title}}</td>
    <td>{{item.value}}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
