<table class="table-data table-count">
  <thead>
  <tr>
    <th colspan="2">{{title|default('Budget temps')}}</th>
  </tr>
  </thead>
  <tbody>
  {% for row in items|batch(2,"") %}
  <tr>
   {% for column in row %}
        <td>{{ column }}</td>
    {% endfor %}
  </tr>
  {% endfor %}
  </tbody>
</table>
