@charset "utf-8";

.table-data {
  //width: 100%;
  border-collapse: collapse;

  & thead th {
    //margin-bottom: 0.53rem;
    margin-bottom: 0.5rem;
    border-radius: $border-radius;
    //padding: 0.13rem 0.4rem;
    padding: 0.125rem 0.5rem;
    line-height: 21px;
    color: $midnight-blue;
    background-color: $grey-title;
    text-align: left;
  }

  & tbody tr {
    border-bottom: $greyLine 1px solid;
  }

  & tbody td:last-of-type {
    text-align: right;
  }
}

.information {
  //margin-bottom: 1.6rem;
  margin-bottom: 1.5rem;
}

.information thead th {
  //margin-top: 1.6rem;
  margin-top: 1.5rem;
}

.information tbody td {
  //padding: 0.53rem 0.73rem 0.53rem 0.4rem;
  padding: 0.5rem 1rem;
}

.information tbody td:last-of-type {
  font-weight: $font-weight-semibold;
}

.entry-hours tbody td {
  //padding: 1.6rem 0.53rem;
  padding: 1.5rem 0.5rem;
}
