<div>
  {% include "@atoms/title/title.twig" with {textTitle: "Matin"}%}
  {% include "@atoms/list-item/list-item-variant.twig" with {textSeparation: "Début", textNombre: "08:35", bold:"bold"}%}
  {% include "@atoms/list-item/list-item-variant.twig" with {textSeparation: "Fin", textNombre: "12:05", bold:"bold"} %}
</div>
