<!-- 🛠 List component -->
<div id="align">
  {% include "@atoms/title/title.twig" with {textTitle: "Budget temps"}%}
  {% include "@atoms/separation/separation.twig" with {textSeparation: "Année en cours 2019", textNombre: "13.5 j", bold:"bold"}%}
  {% include "@atoms/separation/separation.twig" with {textSeparation: "Report 2018", textNombre: "10.7 j", bold:"bold"} %}
  {% include "@atoms/separation/separation.twig" with {textSeparation: "Heures supplémentaires", textNombre: "5.36 h", bold:"bold"}%}
</div>
