<div class="header">
  <span class="icon-right">
  {% include "@atoms/icon/icon.twig"  with {icon: "logout"} %}
  </span>
  {% include "@atoms/username/username.twig" %}
  <p class="header-title-bold">Il te reste 4 jours à poser</p>
  <p class="header-subtitle-regular">3 jours de vacances et 1 jour (8.24h) supplémentaire</p>
</div>
