<div class="header">
    {% include "@atoms/name/name.twig" %}
  <p class="headerTitleBold">Il te reste 4 jours à poser</p>
  <p class="headerSubtitleRegular">3 jours de vacances et 1 jour (8.24h) supplémentaire</p>
</div>
