@charset "utf-8";

.header {
  background-color: $midnight-blue;
  text-align: center;
  //padding-top: 2.33rem;
  //padding-bottom: 0.53rem;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
  opacity: 0.9;
  margin: 0;

  .header-title-bold {
    margin-top: 0;
    margin-bottom: 0;
    //padding: 0.8rem 0;
    padding: 0.5rem 0;
    //font-size: 1.2rem;
    font-size: 1.125rem;
    font-weight: $font-weight-semibold;
    color: $white;
  }

  .header-subtitle-regular {
    margin: 0;
    //font-size: 0.8rem;
    font-size: 0.75rem;
    font-weight: $font-weight-regular;
    color: $white;
  }
}
