<!-- 🛠 Header component -->
<div class="header">
    {% include "@atoms/name/name.twig" %}
  <p class="styleBold">Il te reste 4 jours à poser</p>
  <p class="styleRegular">3 jours de vacnaces et 1 jour (8.24h) supplémentaire</p>
</div>
