<div class="data-tables">
  {% include "@molecules/data-table/data-table.twig" %}
  {% include "@molecules/data-table/data-table.twig" with {title:'Consommées', items: ["Vacances posées", "24 j","Heures supplémentaire récupérées", "5 j"]}%}
  {% include "@molecules/data-table/data-table.twig" with {title:'Indicatifs', items: ["Maladie", "2 j","Temps Formation", "2/5 j","Budget Formation", "CHF 834/1200"]}%}
</div>
