<div class="data-tables">
  {% include "@molecules/table-data/table-data.twig" %}
  {% include "@molecules/table-data/table-data.twig" %}
  {% include "@molecules/table-data/table-data.twig" %}
</div>
