<div class="data-tables">
  {% include "@molecules/data-table/data-table.twig" with {items: default_items}%}
  {% include "@molecules/data-table/data-table.twig" with {title: "Consommées", items: edit1_items}%}
  {% include "@molecules/data-table/data-table.twig" with {title: "Indicatifs",items: edit2_items}%}
</div>
