<div class="data-tables">
  {% include "@molecules/data-table/data-table.twig" %}
  {% include "@molecules/data-table/data-table.twig" with {tableTitle: "Consommées", dataOne: "Vacances posées"} %}
  {% include "@molecules/data-table/data-table.twig" %}
</div>
