<div class="data-tables">
  {% include "@molecules/data-table/data-table.twig" %}
  {% include "@molecules/data-table/data-table.twig" %}
  {% include "@molecules/data-table/data-table.twig" %}
</div>
