<div class="time-selection">
  {% include "@atoms/button/button-number.twig" with {textTime: "15'"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "30'"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "45'"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "1h"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "1h15"}%}
  {% include "@atoms/button/button-number.twig" with {textTime: "1h30"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "1h45"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "2h"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "2h15"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "2h30"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "2h45"} %}
  {% include "@atoms/button/button-number.twig" with {textTime: "3h"} %}
  {% include "@atoms/button/button-validation.twig" %}
</div>
