<div class="time-selection">
  {% include "@atoms/button/button-number.twig" with {time: "15'"} %}
  {% include "@atoms/button/button-number.twig" with {time: "30'"} %}
  {% include "@atoms/button/button-number.twig" with {time: "45'"} %}
  {% include "@atoms/button/button-number.twig" with {time: "1h"} %}
  {% include "@atoms/button/button-number.twig" with {time: "1h15"}%}
  {% include "@atoms/button/button-number.twig" with {time: "1h30"} %}
  {% include "@atoms/button/button-number.twig" with {time: "1h45"} %}
  {% include "@atoms/button/button-number.twig" with {time: "2h"} %}
  {% include "@atoms/button/button-number.twig" with {time: "2h15"} %}
  {% include "@atoms/button/button-number.twig" with {time: "2h30"} %}
  {% include "@atoms/button/button-number.twig" with {time: "2h45"} %}
  {% include "@atoms/button/button-number.twig" with {time: "3h"} %}
  {% include "@atoms/button/button-validation.twig" %}
</div>
