@charset 'utf-8';

.remove-time {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $grey-commentary;
  padding: 1rem;

  &.open {
    display: block;
  }
}

.title-time {
  margin: 0;
  font-size: 1rem;
  font-weight: $font-weight-regular;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.remove-time .icon-right {
  display: flex;
  justify-content: flex-end;

  button {
    border: none;
    cursor: pointer;
    background-color: $grey-commentary;
  }
}
