@charset "utf-8";

%button-shared {
  padding: 14px 21px 13px 22px;
  border: none;
  border-radius: 4px;
  font-family: $primary-font;
  font-weight: 600;
}

.primaryButton {
  @extend %button-shared;
  background-color: $pink-statik;
  color: $white;
}

.secondaryButton {
  @extend %button-shared;
  color: $pink-statik;
  background-color: rgba($pink-statik,0.15);
}

.trash {
  background-image: url("../../../icons/trash.svg");
}

.validationButton {
  @extend %button-shared;
  width: 100%;
  background-color: $pink-statik;
  color: $white;
}

.numberButton {
  @extend %button-shared;
  background-color: $white;
  border: $grey;
  color: $grey;
}
