@charset "utf-8";

.button-shared {
  padding: 0.93rem 1.4rem 0.86rem 1.46rem;
  border: none;
  border-radius: $border-radius;
  font-family: $font-primary;
  font-weight: $font-weight-semibold;
}

.button-shared.primaryButton {
  background-color: $pink-statik;
  font-size: 1rem;
  color: $white;
}

.button-shared.secondaryButton {
  color: $pink-statik;
  background-color: $pink-statik-clear;
}

.button-shared.validationButton {
  width: 100%;
  font-size: 1rem;
  background-color: $pink-statik;
  color: $white;
}

.button-shared.button-number {
  background-color: $white;
  border: $grey;
  color: $grey;
}
