@charset "utf-8";

.username {
  display: inline-block;
  margin: 0;
  padding: 0.55rem 0.96rem;
  font-size: 1rem;
  font-weight: $font-weight-semibold;
  color: $white !important;
  background-color: rgba($white, 0.19);
  border-radius: $border-radius;
  font-family: $font-primary;
  text-align: center;
}
