@charset "utf-8";

.table-data {
  width: 100%;
}

.data-shared {
  border-bottom: $greyLine 1px solid;
}

.data {
  padding: 0.53rem 0.73rem 0.53rem 0.4rem;
}

.bold {
  font-weight: $font-weight-semibold;
}
