<table class="table-data">
  <tbody>
    <tr class="data-shared data">
      <td>{{textSeparation|default('Année en cours')}}</td>
      <td class="bold">{{textNombre|default('13.5 j')}}</td>
    </tr>
  </tbody>
</table>

