@charset "utf-8";

.table-data tbody tr {
  border-bottom: $greyLine 1px solid;
}

.table-data tbody td {
  padding: 0.53rem 0.73rem 0.53rem 0.4rem;
}

.table-data tbody td:last-of-type {
  font-weight: $font-weight-semibold;
  text-align: right;
}
