<!-- 🛠 HoursButtons component -->
<div class="align">
  <div class="align">
    {% include "@atoms/button/button.twig"  with { text: "horaire habituelle", buttonClass: "primaryButton"} %}
    {% include "@atoms/button/button.twig" with { text: "+", buttonClass: "primaryButton"} %}
    {% include "@atoms/button/button.twig" with { text: "-", buttonClass: "primaryButton"} %}
    {% include "@atoms/button/button.twig" with { text: "reset", buttonClass: "secondaryButton trash"} %}
  </div>
</div>
