<!-- 🛠 HoursButtons component -->
<div class="align">
  <div class="align">
    {% include "@atoms/button/button.twig"  with {text: "horaire habituelle"} %}
    {% include "@atoms/button/button-squarebutton.twig" with { text: "+"} %}
    {% include "@atoms/button/button-squarebutton.twig" with { text: "-"} %}
    {% include "@atoms/button/button-secondary.twig" with { text: "reset"} %}
  </div>
</div>
