@charset "utf-8";

.wrap-status {
  background-color: $grey-backgound;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  padding: 0.33rem;
}

.hours {
  font-size: 0.8rem;
}

.denominator {
  font-weight: $font-weight-semibold;
}

.numerator {
  font-size: 1.4rem;
  font-weight: $font-weight-regular;
}
