@charset "utf-8";

.wrap-status {
  background-color: $grey-backgound;
  border-radius: $border-radius;
  display: flex;
  justify-content: space-between;
  //padding: 0.33rem 0.33rem  0.33rem 1rem;
  padding: 0.5rem;

  .hours {
    font-size: 0.75rem;
  }

  .denominator {
    font-weight: $font-weight-semibold;
  }

  .numerator {
    font-size: 1.5rem;
    font-weight: $font-weight-regular;
  }
}
