<table class="wrap-status-hours">
  <thead class="row-status-hours">
  <tr>
    <th class="hours-status">Heures 🤔</th>
    <th class="numerator-status-hours">34</th>
    <th class="denominator-status-hours">/ 33.6</th>
    <th class="button-status-hours">{% include "@atoms/button/button.twig" %}</th>
  </tr>
  </thead>
</table>
