@charset "utf-8";

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: $border-radius-sm;
  border: 1px solid transparent;
  font-weight: $font-weight-regular;

  .week {
    color: $grey-week;
  }

  .day {
    color: $midnight-blue;
  }

  .time {
    font-size: 0.8rem;
  }

  .extra-hours {
    color: $pink-statik;
  }
}

.date.selected {
  border: 1px solid $pink-statik;
}
