<div class="date">
  <div class="{{ }}date-content">
    <span>{{emoji|default('💪')}}</span>
    <span class="week">{{textWeek|default('Lun')}}</span>
    <span class="day">{{textDate|default('19')}}</span>
    <span class="time">{{textTime|default('08:24')}}</span>
  </div>
</div>
