<div class="wrap-status">
  <div>
    <span class="hours">Heures 🤔</span>
    <div class="denominator"><span class="numerator">34</span>/ 33.6</div>
  </div>
  {% include "@atoms/button/button.twig" with { id: 'button-justify' } %}
</div>
