<table class="table-entry">
  <thead>
  <tr>
    <th colspan="2">Matin</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Début</td>
    <td>08.35</td>
  </tr>
  <tr>
    <td>Fin</td>
    <td>12:05</td>
  </tr>
  </tbody>
</table>
