<table class="table-data">
  <thead>
  <tr>
    <th colspan="2">Budget temps</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Année en cours 2019</td>
      <td>13.5 j</td>
    </tr>
    <tr>
      <td>Report 2018</td>
      <td>10.7 j</td>
    </tr>
    <tr>
      <td>Heures supplémentaire</td>
      <td>5.36 h</td>
    </tr>
  </tbody>
</table>
