<table class="table-entry">
  <thead>
  <tr>
    <th colspan="2">Matin</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Début</td>
    <td>
      <span class="button-style">
        {% include "@atoms/button/button-secondary.twig"  with {icon: "chrono"} %}
      </span>
      08.35
    </td>
  </tr>
  <tr>
    <td>Fin</td>
    <td>12:05</td>
  </tr>
  </tbody>
</table>
