<table class="table-data">
  <thead>
  <tr>
    <th colspan="2" class="theadtitle">Budget temps</th>
  </tr>
  </thead>
  <tbody>
    <tr class="data-shared data">
      <td>Année en cours 2019</td>
      <td class="bold">13.5 j</td>
    </tr>
    <tr class="data-shared data">
      <td>Report 2018</td>
      <td class="bold">10.7 j</td>
    </tr>
    <tr class="data-shared data">
      <td>Heures supplémentaire</td>
      <td class="bold">5.36 h</td>
    </tr>
  </tbody>
</table>
