@charset "utf-8";

.commentary {
  box-sizing: border-box;

  textarea {
    width: 100%;
    border: 1px solid $grey-commentary;
    font-size: 0.93rem;
    color: $grey-commentary;
    border-radius: $border-radius;
    resize: none;
    margin-top: 2.2rem;
    margin-bottom: 3.8rem;
  }

  & .icon-right {
    display: flex;
    flex-direction: column;

    .icon {
      align-self: flex-end;
    }
  }
}
