<div class="nav">
  <a class="active">{% include "@atoms/icon/icon.twig"  with {icon: "edit"} %}</a>
  <a href="/pages/information">{% include "@atoms/icon/icon.twig"  with {icon: "dashboad"} %}</a>
</div>
