<div class="align">
  {% include "@molecules/header/header.twig" %}
  {% include "@molecules/table-data/table-data.twig" %}
  {% include "@molecules/table-data/table-data.twig" %}
  {% include "@molecules/table-data/table-data.twig" %}
</div>
