<div class="container-padding">
  {% include "@molecules/header/header.twig" %}
  {% include "@organisms/data-tables/data-tables.twig" %}
  {% include "@molecules/nav/nav.twig" with {active: 'information'} %}
</div>
