<!-- 🛠 Information component -->
<div id="align">
  {% include "@molecules/header/header.twig" %}
  {% include "@molecules/list/list.twig" %}
  {% include "@molecules/list/list.twig" %}
  {% include "@molecules/list/list.twig" %}
</div>
