<div class="header-calendar">
  {% include "@atoms/icon/icon.twig"  with {icon: "arrow-left"} %}
  <div>
    <div class="month">Août 2019</div>
    <div class="week">Semaine 32</div>
  </div>
  {% include "@atoms/icon/icon.twig"  with {icon: "arrow-right"} %}
</div>
